*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
Emberiza_aureola.tar.gz filter=lfs diff=lfs merge=lfs -text
Emberiza_pusilla.tar.gz filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
